body {
}

.txtWorkoutDate{
    font-size:40px;
    width: 90%;
}

#btnSearch{
    margin-top:0%;
}

.ddlWorkoutName{
    font-size:xx-large;
    width:90%;
}

.txtNewWorkout{
    font-size:xx-large;
    width:90%;
}

.txtEventName{
    font-size:xx-large;
    width:90%;
}

.ddlWorkoutType{
    font-size:xx-large;
    width:90%;
}

.ddlDefault
{
    color:green;
}

.tblWorkout-Cell{
    padding-top:15px;
    margin-top:15px;
    width:10%;
}
